<div class="bg-[#673ab7] w-screen grow flex flex-col items-center justify-evenly">
  <mat-toolbar color="primary">
    <span>Isaac Unlock Finder</span>
  </mat-toolbar>

  <div *ngIf="!loaded" class="h-screen grow flex items-center justify-evenly ">
    <app-recover-achievements  (achievementsEmitter)="analyze($event)"></app-recover-achievements>
  </div>

 <!-- TODO: Have 3 tabs: One for unlockables achievements, one for softlocked achievements, one for unlocked achievements -->
  <div *ngIf="loaded" class="flex flex-col justify-around gap-2 items-center">
    <app-achievement  class="w-3/5" [achievement]="u" *ngFor="let u of unlockables"></app-achievement>
  </div>
</div>
