<div class="bg-transparent flex flex-col items-center justify-evenly">
  <div *ngIf="!loaded" class="flex items-center  min-h-[90vh]">
    <app-recover-achievements class="" (achievementsEmitter)="analyze($event)"></app-recover-achievements>
  </div>

  <mat-tab-group class="w-4/5 min-h-screen" color="accent" *ngIf="loaded" dynamicHeight>
    <mat-tab label="Unlockable now ({{unlockables.length}})">
      <app-list-achievements description="Achievements that are unlockable upon a player action in game" [list]="unlockables"></app-list-achievements>
    </mat-tab>
    <mat-tab label="Soft locked ({{softLocked.length}})">
      <app-list-achievements
        description="Achievements that will be unlockable once another achievement(s) will have been unlocked"
        [list]="softLocked"
        [blockedBy]="blockedBy"
      ></app-list-achievements>
    </mat-tab>
    <mat-tab label="Unlocked ({{alreadyUnlocked.length}})">
      <app-list-achievements description="Achievements that have already been unlocked by the player" [list]="alreadyUnlocked"></app-list-achievements>
    </mat-tab>

  </mat-tab-group>
</div>
